{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Address Book{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description" required>{{ request.form['description'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}