{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Delete Address Book - {{address_book['name']}}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <p>Are you sure you want to delete this Address book and the person in the book</p>
    <input style="color:red" type="submit" value="Delete">
    <a class="action" href="{{ url_for('address_book.index') }}">Back</a>
  </form>
{% endblock %}