{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Address Books{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('address_book.create') }}">New Address Book</a>
  {% endif %}
{% endblock %}


{% block content %}
  {% for address_book in address_books %}
    <article class="post">
      <header>
        <div>
          <h1>{{ address_book['name'] }}</h1>
          <div class="about">{{ address_book['description'] }}</div>
          <br>
          <a href="{{ url_for('address_book.update', id=address_book['id'], message=' ') }}">Update Address Book</a>
          <a href="{{ url_for('address_book.delete', id=address_book['id']) }}">Delete Address Book</a>
          <a href="{{ url_for('address_book.view_persons', id=address_book['id']) }}">View Address Book Contacts</a>
          <a href="{{ url_for('person.create', id=address_book['id']) }}">Add Person to Address Book Contacts</a>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}