{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update Address Book{% endblock %}</h1>
  <h1 style="color:green">{{ message }}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name{{ request.form['name'] or address_book['name'] }}</label>
    <input name="name" id="name" value="{{ request.form['name'] or address_book['name'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description" required>{{ request.form['description'] or address_book['description'] }}</textarea>
    <input type="submit" value="Update">
    <a class="action" href="{{ url_for('address_book.index') }}">Back</a>

  </form>
{% endblock %}