{% extends 'base.html' %}


{% block header %}
{% block title %}View {{address_book['name']}}'s Entries <a class="action" href="{{url_for('person.create', id=address_book['id'])}}">Add New Entry</a>{% endblock %}
{% endblock %}



{% block content %}
<table style="border: 1px solid black;" >
    <th colspan="1">First Name</th>
    <th colspan="1">Last Name</th>
    <th colspan="1">Address</th>
    <th colspan="1">Zip</th>
    <th colspan="1">City</th>
    <th colspan="1">State</th>
    <th colspan="1">Phone Number</th>
{% for person in persons %}
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black; width:10%">{{ person['first_name'] }}</td>
            <td style="border: 1px solid black; width:10%">{{ person['last_name'] }}</td>
            <td style="border: 1px solid black; width:10%">{{ person['address'] }}</td>
            <td style="border: 1px solid black; width:10%">{{ person['zip'] }}</td>
            <td style="border: 1px solid black; width:10%">{{ person['city'] }}</td>
            <td style="border: 1px solid black; width:10%">{{ person['state'] }}</td>
            <td style="border: 1px solid black; width:10%">{{ person['phone_number'] }}</td>
        </tr>
{% endfor %}
</table>

{% endblock %}