{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Person to Address Book{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="first_name">First Name</label>
    <input name="first_name" id="first_name" value="{{ request.form['first_name'] }}" required>
      <label for="last_name">Last Name</label>
    <input name="last_name" id="last_name" value="{{ request.form['last_name'] }}" required>
      <label for="address">Address</label>
    <input name="address" id="address" value="{{ request.form['address'] }}" required>
      <label for="city">City</label>
    <input name="city" id="city" value="{{ request.form['city'] }}" required>
      <label for="state">State</label>
    <input name="state" id="state" value="{{ request.form['state'] }}" required>
      <label for="zip">Zip</label>
    <input name="zip" id="zip" value="{{ request.form['zip'] }}" required>
      <label for="phone_number">Phone Number</label>
    <input name="phone_number" id="phone_number" value="{{ request.form['phone_number'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}